*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: rgba(0,0,0, 0.5) url('https://miro.medium.com/v2/resize:fit:1400/1*5lyavS59mazOFnb55Z6znQ.png');
    background-blend-mode: darken;
}
.logo img{
    width: 10rem;
    margin-left: 30px;
}
.container{
    width: 28rem;
    height: 40rem;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 0.2cm;
    
}
.form{
    justify-content: center;
    align-items: center;
    display: column;
    /* margin-top: 1rem; */
}
.heading-container{
    margin-top: 5rem;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h1{
    color: #fff;
    margin-left: 4rem;
}
input{
    margin-left: 15%;
    margin-top: 20px;
    background-color: rgb(62, 62, 62);
    width: 320px;
    height: 47px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    width: 70%;
}
input::placeholder{
    font-size: 17px;
    margin-left: 15px;
    padding: 12px;
}
input[type= submit]{
    width: 19.5rem;
    height: 45px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 0.1rem;
}
input[type= checkbox]{
    width: 25px;
    height: 18px;
    border-radius: 5px;
    color: rgb(62, 62, 62);

}
label{
    color: rgb(125, 119,119);
}
.form a{
    float: right;
    margin-top: 24px;
    margin-right: 64px;
    color: rgb(125, 119,119);
    text-decoration: none;
}
p{
    color: rgb(125, 119,119);
    font-size: 9px;
}
h5{
 color: rgb(125, 119,119);
}
.content{
    margin-top: 4rem;
    margin-left: 15%;
}
