*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 240px;
    height: px;
    margin-left: 100px;
}
.main{
    display: flex;
    flex-direction:column ;
    align-items: center;
    height: 80vh;
    padding-top: 40px;
    background-color: #f0f2f5;
}
.page{
    width: 50%;
    margin: auto;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 360px;
    align-items: center;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-left: 100px;
}
.login{
    font-size: 1.2rem;
    margin: 20px 0 10px 0;
}
input{
    width: 85%;
    height: 30px;
    border: 2px solid rgba( 0, 0, 0, 0.1);
    border-radius: 6px;
    font-weight: 500;
    color: rgba( 0, 0, 0, 0.5);
    outline-style: none;
    margin-top: 15px;
    padding: 10px;
    font-size: medium;
}
button:not(#new-account){
    width: 88%;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: #1877f2;
    color: white;
    font-size: large;
    font-weight: bold;
    margin-top: 15px;
    
}
.line-break{
    border-top: 3px solid #1877f2;
}

a{
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    color: #1877f2;
    font-family: Arial, sans-serif;
    
}
a:hover{
    text-decoration: underline;
}
#new-account{
    width: 50%;
    background-color: #42b72a;
    text-align: center;
    height: 50px;
    font-size: 16px;
    border-radius: 6px;
    color: white;
    border: none;
    margin: 20px 0 20px 0;
    font-weight: bold;
}
.login-btn:hover{
    background-color: #1366d1;
}